In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv('Churn_Modelling.csv')

In [10]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1, inplace=True)

In [12]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [14]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [15]:
df['Gender'].replace(['Female','Male'], [0,1], inplace=True)

In [17]:
df['Gender'].value_counts()

1    5457
0    4543
Name: Gender, dtype: int64

In [18]:
cat_data=df.select_dtypes(include='object')
cat_data

     Geography
0       France
1        Spain
2       France
3       France
4        Spain
...        ...
9995    France
9996    France
9997    France
9998   Germany
9999    France

[10000 rows x 1 columns]

In [20]:
from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(handle_unknown='ignore')
ohe.fit(cat_data)

OneHotEncoder(handle_unknown='ignore')

In [21]:
ohe_features=ohe.get_feature_names_out(input_features=cat_data.columns)
ohe_features

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [22]:
x_train_cat=pd.DataFrame(ohe.transform(cat_data).toarray(), columns=ohe_features)
x_train_cat.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [34]:
num_data=df.select_dtypes(exclude='object')
data=pd.concat([x_train_cat,num_data],axis=1)
data

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,619,0,42,2,0.00,1,1,1,101348.88,1
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58,0
2,1.0,0.0,0.0,502,0,42,8,159660.80,3,1,0,113931.57,1
3,1.0,0.0,0.0,699,0,39,1,0.00,2,0,0,93826.63,0
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771,1,39,5,0.00,2,1,0,96270.64,0
9996,1.0,0.0,0.0,516,1,35,10,57369.61,1,1,1,101699.77,0
9997,1.0,0.0,0.0,709,0,36,7,0.00,1,0,1,42085.58,1
9998,0.0,1.0,0.0,772,1,42,3,75075.31,2,1,0,92888.52,1
9999,1.0,0.0,0.0,792,0,28,4,130142.79,1,1,0,38190.78,0

In [58]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, classification_report,accuracy_score,f1_score,precision_recall_curve

In [32]:
x=data.drop(columns='Exited')
y=data['Exited']

In [33]:
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.2, random_state=42)
x_train.shape, x_test.shape

((8000, 12), (2000, 12))

In [38]:
scaled=StandardScaler()
x_train_s= scaled.fit_transform(x_train)

In [44]:
lin_mod=LinearRegression().fit(x_train_s,y_train)
y_pred=lin_mod.predict(x_train_s)

In [51]:
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0., 0., 0., ..., 0., 0., 1.])

In [55]:
accuracy_score(yhat,y_train)

0.76425

In [57]:
f1_score(yhat,y_train)

0.48777838131450296

In [61]:
x_test_s=scaled.transform(x_test)
y_pred=lin_mod.predict(x_test_s)

In [62]:
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0., 0., 1., ..., 1., 0., 0.])

In [63]:
accuracy_score(yhat,y_test)

0.7755

In [64]:
f1_score(yhat, y_test)

0.5114254624591947

In [65]:
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier

In [71]:
rd_mod=RandomForestClassifier().fit(x_train_s,y_train)
y_pred=rd_mod.predict(x_train_s)

In [72]:
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0, 0, 1, ..., 1, 1, 0])

In [73]:
accuracy_score(yhat,y_train)

1.0

In [74]:
f1_score(yhat,y_train)

1.0

In [75]:
y_pred=rd_mod.predict(x_test_s)
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0, 0, 0, ..., 1, 0, 0])

In [76]:
accuracy_score(yhat,y_test)

0.866

In [77]:
f1_score(yhat,y_test)

0.5786163522012578

In [78]:
gdb=GradientBoostingClassifier().fit(x_train_s, y_train)
y_pred=gdb.predict(x_train_s)
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0, 0, 0, ..., 1, 1, 0])

In [79]:
accuracy_score(yhat, y_pred)

1.0

In [80]:
f1_score(yhat, y_pred)

1.0

In [81]:
y_pred=gdb.predict(x_test_s)
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0, 0, 0, ..., 1, 0, 0])

In [82]:
accuracy_score(yhat, y_test)

0.8645

In [84]:
round(f1_score(yhat,y_test),2)

0.58

In [85]:
from xgboost import XGBRFClassifier
from lightgbm import LGBMClassifier

In [87]:
xgb=XGBRFClassifier().fit(x_train_s, y_train)
y_pred=xgb.predict(x_train_s)
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0, 0, 0, ..., 1, 0, 1])

In [88]:
round(accuracy_score(yhat,y_train),2)

0.86

In [90]:
round(f1_score(yhat,y_train),2)

0.59

In [91]:
y_pred=xgb.predict(x_test_s)
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0, 0, 0, ..., 1, 0, 0])

In [92]:
round(accuracy_score(yhat, y_test),2)

0.87

In [93]:
round(f1_score(yhat,y_test),2)

0.59

In [94]:
lgbm=LGBMClassifier().fit(x_train_s, y_train)
y_pred=lgbm.predict(x_train_s)
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

[LightGBM] [Info] Number of positive: 1644, number of negative: 6356
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000114 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 866
[LightGBM] [Info] Number of data points in the train set: 8000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.205500 -> initscore=-1.352267
[LightGBM] [Info] Start training from score -1.352267

array([0, 0, 0, ..., 1, 1, 0])

In [95]:
round(accuracy_score(yhat,y_train))

1

In [96]:
round(f1_score(yhat,y_train))

1

In [97]:
y_pred=lgbm.predict(x_test_s)
yhat=np.empty_like(y_pred)
for y in range(len(y_pred)):
    if y_pred[y]>0.3:
        yhat[y]=1
    else:
        yhat[y]=0
        
yhat

array([0, 0, 0, ..., 1, 0, 0])

In [98]:
round(accuracy_score(yhat,y_test))

1

In [99]:
round(f1_score(yhat,y_test),2)

0.6